@font-face {
    font-family: "Orbitron-Bold";
    src: url("../fonts/Orbitron/Orbitron-Bold.ttf");
}
@font-face {
    font-family: "Pretendard-Medium";
    src: url("../fonts/Pretendard/Pretendard-Medium.otf");
}
body {
  background: black;
}
.mainMembers {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 20%, rgba(255, 103, 35, 0.50) 55%, rgba(0, 0, 0, 0.50) 90%);
  padding: 115px 0;
  padding: 8vw 0; /* 상하 패딩 반응형 */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.members-intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw 5vw; 
}
/* 제목 */
.members-intro h1 {
  color: #FF6723;
  font-family: "Orbitron-Bold", sans-serif;
  font-size: clamp(32px, 4.5vw, 64px);
  margin-bottom: 1.5vw;
}
/* 문구 */
.members-intro p {
  color: #FFF;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: clamp(14px, 1.2vw, 19px);
}
/* 자세히 보기 */
.members-btn {
  width: clamp(90px, 9vw, 109px);
  height: clamp(34px, 3.5vw, 44px);
  font-size: clamp(15px, 1.1vw, 17px);
  color: White;
  border: 2px solid white;
  border-radius: 100px;
  padding: 0 5.5px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Pretendard-Medium", sans-serif;
  gap: 10px;
  transition: 0.2s ease;
  text-decoration: none;
  white-space: nowrap;
}
/* 화살표 배경(원) */
.members-btn svg {
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  aspect-ratio: 1 / 1; /* 가로세로 1:1 정원 유지 */
  width: auto;
  height: 70%;
  transition: 0.2s ease;
  
}
/* 화살표 선 */
.members-btn path {
  stroke: black;
  transition: 0.2s ease;
}

/* hover */
.members-btn:hover {
  color: #FF6723;
  border: 2px solid #FF6723;
}
/* 화살표 배경(원) */
.members-btn:hover svg {
  background-color: #FF6723;
}
/* 화살표 선 */
.members-btn:hover path {
  stroke: white;
}

@media (max-width: 1023px) {
  .members-btn {
  width: 99px;
  height: 38px;
  font-size: 15px;
  }
}

@media (max-width: 767px) {
  .members-btn {
  width: 90px;
  height: 34px;
  font-size: 12px
  }
}