@font-face {
  font-family: "Orbitron-Bold";
  src: url("../fonts/Orbitron/Orbitron-Bold.ttf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("../fonts/Pretendard/Pretendard-Medium.otf");
}

#projects {
  padding-top: 8vw; /* 상하 여백도 화면에 비례 */
  padding-bottom: 8vw;
}
/* projects-intro */
.projects-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw 6vw;
}
/* 제목 */
.projects-intro h1 {
  color: #ff6723;
  font-family: "Orbitron-Bold", sans-serif;
  font-size: clamp(32px, 4.5vw, 64px);
  /* 제목과 문구 사이 간격 */
  margin-bottom: 27px;
}
/* 문구 */
.projects-intro p {
  color: #fff;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: clamp(14px, 1.3vw, 19px);
}
/* 자세히 보기 */
.projects-btn {
  width: clamp(135px, 10vw, 139px);
  height: clamp(40px, 3.5vw, 45px);
  font-size: clamp(16px, 1.1vw, 17px);
  color: White;
  border: 2px solid white;
  border-radius: 100px;
  padding: 4px 0px 4px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Medium", sans-serif;
  gap: 10px;
  transition: 0.2s ease;
  text-decoration: none;
  white-space: nowrap;
}
/* 화살표 배경(원) */
.projects-btn svg {
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  width: 1.6em;
  height: 1.6em;
  transition: 0.2s ease;
}
/* 화살표 선 */
.projects-btn path {
  stroke: black;
  transition: 0.2s ease;
}
/* hover */
.projects-btn:hover {
  color: #ff6723;
  border: 2px solid #ff6723;
}
/* 화살표 배경(원) */
.projects-btn:hover svg {
  background-color: #ff6723;
}
/* 화살표 선 */
.projects-btn:hover path {
  stroke: white;
}
@media (max-width: 1023px) {
  .projects-btn {
  width: 135px;
  height: 40px;
  font-size: 17px;
  }
}

@media (max-width: 767px) {
  .projects-btn {
  width: 116px;
  height: 37px;
  font-size: 14px
  }
}