/* 폰트 설정 */
@font-face {
    font-family: "Pretendard-Medium";
    src: url("../fonts/Pretendard/Pretendard-Medium.otf");
}

@font-face {
    font-family: "Orbitron-SemiBold";
    src: url("../fonts/Orbitron/Orbitron-SemiBold.ttf");
}

/* 전체 컨테이너 */
.project {
    padding-top: 115px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 필터 버튼 리스트 */
.list {
    display: flex;
    gap: 3vw; /* 간격도 화면 크기에 반응 */
    justify-content: center;
    margin-top: 5vw;
    width: 100%;
}

.selected, .notSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px; 
    font-family: "Orbitron-SemiBold", sans-serif;
    font-size: 18px;
    padding: 1.2vw 2vw;
    min-width: 80px;
    cursor: pointer;
}
/* 선택된 버튼 */
.selected {
    border: 1px solid white;
    background-color: rgba(255, 157, 0, 0.32);
    color: #FFF;
}

/* 선택되지 않은 버튼 */
.notSelect {
    border: 1px solid #9D9D9D;
    color: #9D9D9D;
    background-color: #0D0D0D;
}

.allProjects {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 440px)); 
    justify-content: center;
    gap: 20px;
    margin-top: 68px;
    margin-bottom: 68px;
    width: 90%;
    max-width: 900px; /* (440px * 2) + gap(20px) */
}

/* --- 반응형 미디어 쿼리 --- */

@media (max-width: 1023px) {
    .allProjects {
        gap: 15px;
        width: 95%;
    }
    .selected, .notSelect {
        font-size: 16px;
        padding: 14px 22px;
    }
}

@media (max-width: 767px) {
    .project {
        padding-top: 80px; 
    }

    .allProjects {
        grid-template-columns: minmax(0, 440px); 
        gap: 30px;
        margin-top: 40px;
    }
}