@font-face {
    font-family: "Orbitron-ExtraBold";
    src: url("../fonts/Orbitron/Orbitron-ExtraBold.ttf");
}
@font-face {
    font-family: "Pretendard-Medium";
    src: url("../fonts/Pretendard/Pretendard-Medium.otf");
}
@font-face {
    font-family: "Pretendard-bold";
    src: url("../fonts/Pretendard/Pretendard-bold.otf");
}

.banner {
    width: 100%;
    height: 22vw;
    min-height: clamp(120px, 15vw, 250px);
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1.5px, transparent 0), url("/titleBackground.svg");
    background-size: 20px 20px, cover; 
    background-repeat: repeat, no-repeat;
    background-position: center, center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title {
    background: none;
}
/* PROJECTS */
.title h1 {
    font-family: "Orbitron-ExtraBold", sans-serif;
    font-size: clamp(32px, 4.5vw, 64px); 
    color: white;
    margin-bottom: 1.5vw;
}
/* 부제목 */
.title p {
    font-family: "Pretendard-Medium", sans-serif;
    font-size: clamp(13px, 1.2vw, 17px);
    color: #C3C3C3;
    line-height: 1.5;
}
@media (max-width: 1023px) {
    .banner {
        height: 25vw; 
    }
}

@media (max-width: 767px) {
    .banner {
        height: 35vw; 
        background-size: 15px 15px, cover; 
    }
}