@font-face {
    font-family: "Pretendard-bold";
    src: url("../fonts/Pretendard/Pretendard-bold.otf");
}
@font-face {
    font-family: "Pretendard-Medium";
    src: url("../fonts/Pretendard/Pretendard-Medium.otf");
}
.project-box {
    width: 100%;
    max-width: 440px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 390px;
}

.project-image {
    width: 100%;
    aspect-ratio: 440 / 243;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.project-tag-wrap {
    position: absolute;
    left: 14px;
    top: 14px;
    display: flex;
    gap: 8px;
}

.tag {
    font-size: clamp(10px, 0.9vw, 14px);
    padding: 4px 10px;
    border-radius: 20px;
    font-family: "Pretendard-Medium", sans-serif;
    background: rgba(0, 0, 0, 0.20);
    border: 1px solid white;
    color: white;
    padding: 10px;
}

.project-content {
    flex-grow: 1;
    padding: 20px;
    text-align: left;
    padding-bottom: 46px;
    border: 1px solid rgba(203, 203, 203, 0.65);
}

.boxTitle {
    font-family: "Pretendard-bold", sans-serif;
    font-size: clamp(15px, 1.3vw, 19px);
    color: #414141;
    margin-bottom: 8px;
}

.boxSubTitle {
    font-family: "Pretendard-Medium", sans-serif;
    font-size: clamp(11px, 0.9vw, 13px);
    color: #959595;
    white-space: pre-wrap;
}